version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 3
    groups:
      patch-versions:
        update-types:
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "monthly"
