[package]
name = "fil_builtin_actors_bundle"
description = "Bundle of FVM-compatible Wasm bytecode for Filecoin builtin actors"
version = "8.0.0-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["Protocol Labs", "Filecoin Core Devs"]
edition = "2021"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]
exclude = ["examples", ".github"]

[target.'cfg(target_arch = "wasm32")'.dependencies]
fil_actor_account = { version = "8.0.0-alpha.1", path = "./actors/account" }
fil_actor_verifreg = { version = "8.0.0-alpha.1", path = "./actors/verifreg" }
fil_actor_cron = { version = "8.0.0-alpha.1", path = "./actors/cron" }
fil_actor_market = { version = "8.0.0-alpha.1", path = "./actors/market" }
fil_actor_multisig = { version = "8.0.0-alpha.1", path = "./actors/multisig" }
fil_actor_paych = { version = "8.0.0-alpha.1", path = "./actors/paych" }
fil_actor_power = { version = "8.0.0-alpha.1", path = "./actors/power" }
fil_actor_miner = { version = "8.0.0-alpha.1", path = "./actors/miner" }
fil_actor_reward = { version = "8.0.0-alpha.1", path = "./actors/reward" }
fil_actor_system = { version = "8.0.0-alpha.1", path = "./actors/system" }
fil_actor_init = { version = "8.0.0-alpha.1", path = "./actors/init" }
fil_actors_runtime = { version = "8.0.0-alpha.1", path = "./actors/runtime" }

[build-dependencies]
fil_actor_bundler = { version = "1.0.2", path = "./bundler" }
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }


[features]
default = [
    "fil_actors_runtime/sector-32g",
    "fil_actors_runtime/sector-64g",
    "fil_actor_account/actor",
    "fil_actor_verifreg/actor",
    "fil_actor_cron/actor",
    "fil_actor_market/actor",
    "fil_actor_multisig/actor",
    "fil_actor_paych/actor",
    "fil_actor_power/actor",
    "fil_actor_miner/actor",
    "fil_actor_reward/actor",
    "fil_actor_system/actor",
    "fil_actor_init/actor",
]
caterpillarnet = [
    "fil_actors_runtime/sector-512m",
    "fil_actors_runtime/sector-32g",
    "fil_actors_runtime/sector-64g",
    "fil_actors_runtime/small-deals",
    "fil_actors_runtime/short-precommit",
    "fil_actors_runtime/min-power-2g",
]
devnet = [
    "fil_actors_runtime/sector-2k",
    "fil_actors_runtime/sector-8m",
    "fil_actors_runtime/small-deals",
    "fil_actors_runtime/short-precommit",
    "fil_actors_runtime/min-power-2k",
]

[workspace]
members = [
     "actors/*",
     "bundler",
]

## Uncomment when working locally on ref-fvm and this repo simultaneously.
## Assumes the ref-fvm checkout is in a sibling directory with the same name.
## (Valid while FVM modules aren't published to crates.io)
[patch."https://github.com/filecoin-project/ref-fvm"]
#fvm_shared = { path = "../ref-fvm/shared" }
#fvm_sdk = { path = "../ref-fvm/sdk" }
#fvm_ipld_hamt = { path = "../ref-fvm/ipld/hamt" }
#fvm_ipld_amt = { path = "../ref-fvm/ipld/amt" }
#fvm_ipld_bitfield = { path = "../ref-fvm/ipld/bitfield"}
#fvm_ipld_car = { path = "../ref-fvm/ipld/car"}

## Uncomment entries below when working locally on ref-fvm and this repo simultaneously.
## Assumes the ref-fvm checkout is in a sibling directory with the same name.
## (Valid once FVM modules are published to crates.io)
#[patch.crates-io]
#fvm_shared = { path = "../ref-fvm/shared" }
#fvm_sdk = { path = "../ref-fvm/sdk" }
#fvm_ipld_hamt = { path = "../ref-fvm/ipld/hamt" }
#fvm_ipld_amt = { path = "../ref-fvm/ipld/amt" }
#fvm_ipld_bitfield = { path = "../ref-fvm/ipld/bitfield"}
#fvm_ipld_car = { path = "../ref-fvm/ipld/car"}

[profile.wasm]
inherits = "release"
panic = "abort"
overflow-checks = true
lto = "thin"
opt-level = "z"
