[workspace]
members = [
  "runtime",
  "actors/account",
  "actors/cron",
  "actors/init",
  "actors/multisig",
  "actors/paych",
  "actors/reward",
  "actors/power",
  "actors/system",
  "actors/verifreg",
  "actors/market",
  "actors/miner",
  "actors/datacap",
]
resolver = "2"
