[workspace]
members = [
    "runtime",
    "actors/account_state_v8",
    "actors/cron_state_v8",
    "actors/init_state_v8",
    "actors/multisig_state_v8",
    "actors/paych_state_v8",
    "actors/reward_state_v8",
    "actors/power_state_v8",
    "actors/system_state_v8",
    "actors/verifreg_state_v8",
    "actors/market_state_v8",
    "actors/miner_state_v8",
]
resolver = "2"
