[package]
name = "fil_actor_account"
description = "Builtin account actor for Filecoin"
version = "7.0.5"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "7.0.5", path = "../runtime" }
fvm_shared = { version = "0.2.0", default-features = false }
serde = { version = "1.0.136", features = ["derive"] }
num-traits = "0.2.14"
num-derive = "0.3.3"

[dev-dependencies]
fil_actors_runtime = { version = "7.0.5", path = "../runtime", features = ["test_utils", "sector-default"] }

