[package]
name = "test_vm"
description = "Reference vm for integration testing builtin actors"
version = "8.0.0-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["Protocol Labs", "Filecoin Core Devs"]
edition = "2021"
keywords = ["filecoin", "web3", "wasm"]

[lib]

[dependencies]
fil_builtin_actors_state = { version = "8.0.0", path = "../state"}
fil_actors_runtime = { version = "8.0.0", path = "../runtime", features = [ "test_utils" ] }
fil_actor_init = { version = "8.0.0", path = "../actors/init" }
fil_actor_cron = { version = "8.0.0", path = "../actors/cron" }
fil_actor_system = { version = "8.0.0", path = "../actors/system" }
fil_actor_account = { version = "8.0.0", path = "../actors/account" }
fil_actor_multisig = { version = "8.0.0", path = "../actors/multisig" }
fil_actor_paych = { version = "8.0.0", path = "../actors/paych" }
fil_actor_reward = { version = "8.0.0", path = "../actors/reward" }
fil_actor_power = { version = "8.0.0", path = "../actors/power" }
fil_actor_market = { version = "8.0.0", path = "../actors/market" }
fil_actor_verifreg = { version = "8.0.0", path = "../actors/verifreg" }
fil_actor_miner = { version = "8.0.0", path = "../actors/miner" }
lazy_static = "1.4.0"
fvm_shared = { version = "0.8.0", default-features = false }
fvm_ipld_encoding = { version = "0.2.2", default-features = false }
fvm_ipld_blockstore = { version = "0.1.1", default-features = false }
fvm_ipld_bitfield = "0.5.2"
fvm_ipld_hamt = "0.5.1"
num-traits = "0.2.14"
num-derive = "0.3.3"
log = "0.4.14"
rand = "0.8.5"
rand_chacha = "0.3.1"
indexmap = { version = "1.8.0", features = ["serde-1"] }
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }
serde = { version = "1.0.136", features = ["derive"] }
thiserror = "1.0.30"
anyhow = "1.0.56"
blake2b_simd = "1.0"
integer-encoding = { version = "3.0.3", default-features = false }
regex = "1"

[dev-dependencies]
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }
multihash = { version = "0.16.1", default-features = false }
