[package]
name = "fil_actor_multisig"
description = "Builtin multisig actor for Filecoin"
version = "6.0.0"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
actors-runtime = { version = "6.0.0", path = "../runtime" }
fvm_shared = { version = "0.1.0", git = "https://github.com/filecoin-project/ref-fvm", default-features = false }
fvm_ipld_hamt = { version = "0.1.0", git = "https://github.com/filecoin-project/ref-fvm" }
num-traits = "0.2"
num-derive = "0.3.0"
cid = { version = "0.8.2", default-features = false, features = ["serde-codec"] }
indexmap = { version = "1.7.0", features = ["serde-1"] }
integer-encoding = { version = "3.0", default-features = false }
serde = { version = "1.0", features = ["derive"] }
anyhow = "1.0.51"

[build-dependencies]
fil_builtin_actors_builder = { version = "0.1.0", path = "../../builder" }

[features]
wasm = []

