[package]
name = "fil_builtin_actors_state"
description = "Builtin Actor state utils for Filecoin"
version = "10.0.0-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actor_account = { version = "10.0.0-alpha.1", path = "../actors/account"}
fil_actor_verifreg = { version = "10.0.0-alpha.1", path = "../actors/verifreg"}
fil_actor_cron = { version = "10.0.0-alpha.1", path = "../actors/cron"}
fil_actor_market = { version = "10.0.0-alpha.1", path = "../actors/market"}
fil_actor_multisig = { version = "10.0.0-alpha.1", path = "../actors/multisig"}
fil_actor_paych = { version = "10.0.0-alpha.1", path = "../actors/paych"}
fil_actor_power = { version = "10.0.0-alpha.1", path = "../actors/power"}
fil_actor_miner = { version = "10.0.0-alpha.1", path = "../actors/miner"}
fil_actor_reward = { version = "10.0.0-alpha.1", path = "../actors/reward"}
fil_actor_system = { version = "10.0.0-alpha.1", path = "../actors/system"}
fil_actor_init = { version = "10.0.0-alpha.1", path = "../actors/init"}
fil_actors_runtime = { version = "10.0.0-alpha.1", path = "../runtime"}
fvm_shared = { version = "0.9.0", default-features = false }
fvm_ipld_encoding = "0.2.2"
fvm_ipld_blockstore = "0.1.1"
num-traits = "0.2.14"
anyhow = "1.0.56"
num-derive = "0.3.3"
serde = { version = "1.0.136", features = ["derive"] }
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }

[dev-dependencies]
[features]
fil-actor = []
