[package]
name = "fil_actor_miner"
description = "Builtin miner actor for Filecoin"
version = "7.0.5-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "7.0.5-alpha.1", path = "../runtime" }
fvm_shared = { version = "0.2.0", default-features = false }
bitfield = { version = "0.2.1", package = "fvm_ipld_bitfield" }
fvm_ipld_amt = { version = "0.2.0", features = ["go-interop"] }
fvm_ipld_hamt = "0.2.0"
serde = { version = "1.0.136", features = ["derive"] }
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }
num-traits = "0.2.14"
num-derive = "0.3.3"
lazy_static = "1.4.0"
log = "0.4.14"
byteorder = "1.4.3"
anyhow = "1.0.56"
itertools = "0.10.3"

[dev-dependencies]
fil_actors_runtime = { version = "7.0.5-alpha.1", path = "../runtime", features = ["test_utils", "sector-default"] }
fil_actor_account = { version = "7.0.5-alpha.1", path = "../account" }
rand = "0.8.5"
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }
