[package]
name = "fil_actor_eam"
description = "Builtin Ethereum address manager actor for Filecoin"
version = "10.0.0-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["Protocol Labs", "Filecoin Core Devs"]
edition = "2021"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm", "evm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "10.0.0-alpha.1", path = "../../runtime" }
serde = { version = "1.0.136", features = ["derive"] }
serde_tuple = "0.5"
rlp = { version = "0.5.1", default-features = false }
anyhow = "1.0.65"
log = "0.4.14"
fvm_ipld_blockstore = "0.1.1"
fvm_ipld_encoding = "0.3.2"
multihash = { version = "0.16.1", default-features = false }
cid = "0.8.6"
fvm_shared = { version = "3.0.0-alpha.15", default-features = false }
num-traits = "0.2.15"
num-derive = "0.3.3"
hex-literal = "0.3.4"

[dev-dependencies]
fil_actor_evm = { version = "10.0.0-alpha.1", path = "../evm"}
fil_actors_runtime = { path = "../../runtime", features = ["test_utils"] }

[features]
fil-actor = ["fil_actors_runtime/fil-actor"]
