[package]
name = "fil_actor_evm"
description = "Builtin EVM actor for Filecoin"
version = "10.0.0-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["Protocol Labs", "Filecoin Core Devs"]
edition = "2021"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm", "evm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "10.0.0-alpha.1", path = "../../runtime" }
fvm_shared = { version = "3.0.0-alpha.1", default-features = false }
fvm_ipld_hamt = "0.5.1"
serde = { version = "1.0.136", features = ["derive"] }
serde_tuple = "0.5"
num-traits = "0.2.14"
num-derive = "0.3.3"
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }
anyhow = "1.0.56"
log = "0.4.14"
fvm_ipld_blockstore = "0.1.1"
fvm_ipld_encoding = "0.2.2"
sha3 = { version = "0.10", default-features = false }
rlp = { version = "0.5.1", default-features = false }
bytes = { version = "1.1.0", features = ["serde"], default-features = false }
strum = "0.24"
strum_macros = "0.24"
multihash = { version = "0.16.1", default-features = false }
derive_more = "0.99"
uint = { version = "0.9.3", default-features = false }
fixed-hash = { version = "0.7.0", default-features = false }
impl-serde = { version = "0.3.2", default-features = false }
arrayvec = { version = "0.7.2", features = ["serde"] }
hex = "0.4.3"
substrate-bn = { version = "0.6.0", default-features = false }
near-blake2 = { version = "0.9.1", git = "https://github.com/filecoin-project/near-blake2.git" }

[dev-dependencies]
fil_actors_runtime = { path = "../../runtime", features = ["test_utils", "sector-default"] }
hex-literal = "0.3.4"
etk-asm = "^0.2.1"

[features]
fil-actor = ["fil_actors_runtime/fil-actor"]
m2-native = ["fil_actors_runtime/m2-native"]
