[package]
name = "fil_actor_system"
description = "Builtin system actor for Filecoin"
version = "7.2.2"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "7.2.2", path = "../runtime" }
fvm_ipld_blockstore = "0.1.0"
fvm_ipld_encoding = "0.2.0"
fvm_shared = { version = "0.6.1", default-features = false }
num-traits = "0.2.14"
num-derive = "0.3.3"
serde = { version = "1.0.136", features = ["derive"] }

[dev-dependencies]
fil_actors_runtime = { version = "7.2.2", path = "../runtime", features = ["test_utils", "sector-default"] }
