[package]
name = "fil_actor_market"
description = "Builtin market actor for Filecoin"
version = "9.0.0-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "9.0.0-alpha.1", path = "../../runtime", features = ["fil-actor"] }

anyhow = "1.0.56"
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }
frc46_token = { git = "https://github.com/arajasek/filecoin", branch="asr/fix-map-key" }
fvm_ipld_bitfield = "0.5.2"
fvm_ipld_blockstore = "0.1.1"
fvm_ipld_encoding = "0.2.2"
fvm_ipld_hamt = "0.5.1"
fvm_shared = { version = "2.0.0-alpha.2", default-features = false }
integer-encoding = { version = "3.0.3", default-features = false }
libipld-core = { version = "0.13.1", features = ["serde-codec"] }
log = "0.4.14"
num-derive = "0.3.3"
num-traits = "0.2.14"
serde = { version = "1.0.136", features = ["derive"] }

[dev-dependencies]
fil_actors_runtime = { path = "../../runtime", features = ["test_utils", "sector-default"] }
fil_actor_power = { path = "../power" }
fil_actor_reward = { path = "../reward" }
fil_actor_verifreg = { path = "../verifreg" }
fvm_ipld_amt = { version = "0.4.2", features = ["go-interop"] }
multihash = { version = "0.16.1", default-features = false }
regex = "1"
itertools = "0.10"

[features]
fil-actor = []

