[package]
name = "fil_actor_market"
description = "Builtin market actor for Filecoin"
version = "7.2.2"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "7.2.2", path = "../runtime" }
fvm_ipld_blockstore = "0.1.0"
fvm_ipld_encoding = "0.1.0"
fvm_ipld_hamt = "0.4.0"
fvm_shared = { version = "0.6.0", default-features = false }
bitfield = { version = "0.5.0", package = "fvm_ipld_bitfield" }
num-traits = "0.2.14"
num-derive = "0.3.3"
ahash = "0.7.6"
serde = { version = "1.0.136", features = ["derive"] }
serde_tuple = "0.5.0"
cid = { version = "0.8.3", default-features = false, features = ["serde-codec"] }
log = "0.4.14"
anyhow = "1.0.56"

[dev-dependencies]
fil_actors_runtime = { version = "7.2.2", path = "../runtime", features = ["test_utils", "sector-default"] }
fvm_ipld_amt = { version = "0.4.0", features = ["go-interop"] }
