name: Continuous integration

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

env:
  RUSTFLAGS: -Dwarnings
  CARGO_INCREMENTAL: 0 # Speeds up the build (no cache) and reduces disk space!

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checking out
      uses: actions/checkout@v3
    - name: Running rustfmt
      run: make rustfmt

  check-clippy:
    runs-on: ubuntu-latest
    steps:
    - name: Checking out
      uses: actions/checkout@v3
    - name: Running clippy
      run: make check

  test:
    runs-on: ${{ fromJSON(github.repository == 'filecoin-project/builtin-actors' && '["self-hosted", "linux", "x64", "4xlarge"]' || '"ubuntu-latest"') }}
    steps:
    - name: Checking out
      uses: actions/checkout@v3
    - if: env.RUNNER_ENVIRONMENT != 'github-hosted'
      uses: dtolnay/rust-toolchain@stable
    - name: Install Clang (Linux only)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends clang
    - name: Installing the toolchain
      run: make toolchain
    - name: Install cargo-nextest
      uses: taiki-e/install-action@c07504cae06f832dc8de08911c9a9c5cddb0d2d3 # v2.56.13
      with:
        tool: cargo-nextest
    - name: Running tests
      run: make test

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        network: [ 'mainnet', 'caterpillarnet', 'butterflynet', 'calibrationnet', 'devnet', 'testing', 'testing-fake-proofs' ]
    steps:
    - name: Checking out
      uses: actions/checkout@v3
    - name: Writing bundle
      env:
        BUILD_FIL_NETWORK: ${{ matrix.network }}
      run: |
        make bundle-repro
