[package]
name = "fil_actor_reward"
description = "Builtin reward actor for Filecoin"
version = "6.0.0"
license = "MIT OR Apache-2.0"
authors = ["Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
actors-runtime = { path = "../runtime" }
fvm_shared = { git = "https://github.com/filecoin-project/ref-fvm", default-features = false }
num-traits = "0.2"
num-derive = "0.3.0"
log = "0.4.8"
lazy_static = "1.4.0"
serde = { version = "1.0", features = ["derive"] }

[dev-dependencies]
actors-runtime = { path = "../runtime", features = ["test_utils"] }
