[package]
name = "fil_actor_reward"
description = "Builtin reward actor for Filecoin"
version = "7.1.2-alpha.1"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/builtin-actors"
keywords = ["filecoin", "web3", "wasm"]

[lib]
## lib is necessary for integration tests
## cdylib is necessary for Wasm build
crate-type = ["cdylib", "lib"]

[dependencies]
fil_actors_runtime = { version = "7.1.2-alpha.1", path = "../runtime" }
fvm_shared = { version = "0.2.2", default-features = false }
num-traits = "0.2.14"
num-derive = "0.3.3"
log = "0.4.14"
lazy_static = "1.4.0"
serde = { version = "1.0.136", features = ["derive"] }

[dev-dependencies]
fil_actors_runtime = { version = "7.1.2-alpha.1", path = "../runtime", features = ["test_utils", "sector-default"] }
